node_modules
.pnpm-store
.turbo
.next
.expo
.expo-shared
dist
build
coverage
.DS_Store
*.log
apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/ios
apps/mobile/android
apps/admin/.next
apps/api/bin
apps/api/.air
apps/api/coverage.out
.env
.env.local
.env.*.local

